<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="/static/js/manage/login.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<form action="/manage/login" method="post" id="login_form" onsubmit="doLogin()">
    <p>用户名: <input type="text" name="user_name"/></p>
    <p>用户名: <input type="password"  id="pwd"/></p>
    <input type='hidden' name='password' id='md5_pwd' value=''/>
    <input type="submit"  value="提交"/>
</form></body>
</html>