{{template "blog/head.html" .}}
<!-- 主体（一般只改变这里的内容） -->
<div class="blog-body">
    <div class="blog-container">
        <div class="blog-main">
            <!-- 网站公告提示 -->
            <div class="home-tips shadow">
                <i style="float:left;line-height:17px;" class="fa fa-volume-up"></i>
                <div class="home-tips-container">
                    <span>这个Demo是用来展示cango来构建Blog网站的</span>
                    <span><a target="_blank"
                             href="http://www.github.com/JessonChan/can_blog">can_blog的项目是开源的，点击查看</a></span>
                </div>
            </div>
            <!--左边文章列表-->
            <div class="blog-main-left">

                {{range .list}}
                    <div class="article shadow">
                        <div class="article-left">
                            <img src="{{.Image}}"/>
                        </div>
                        <div class="article-right">
                            <div class="article-title">
                                <a href="detail.html?id={{.Id}}">{{.Title}}</a>
                            </div>
                            <div class="article-abstract">
                                {{.Info}}
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="article-footer">
                            <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp; {{date .Updated "Y-m-d"}}</span>
                            <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp;JC</span>
                            <span><i class="fa fa-tag"></i>&nbsp;&nbsp;<a href="#">{{.Tags}}</a></span>
                            <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;{{.Views}}</span>
                            <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;0</span>
                        </div>
                    </div>
                {{end}}

                <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-0">
                    {{str2html .pagebar}}
                </div>
            </div>
            <!--右边小栏目-->
            <div class="blog-main-right">
                <div class="article-category shadow">
                    <div class="article-category-title">分类导航</div>
                    {{range .cates}}
                        <a href="/article?cate_id={{.Id}}">{{.Name}}</a>
                    {{end}}
                    <div class="clear"></div>
                </div>

                <div class="blog-module shadow">
                    <div class="blog-module-title">热文排行</div>
                    <ul class="fa-ul blog-module-ul">
                        {{range .hosts}}
                            <li style="line-height: 30px"><i class="fa-li fa fa-hand-o-right"></i><a
                                        href="detail.html?id={{.Id}}">{{.Title}}</a></li>
                        {{end}}
                    </ul>
                </div>

                <div class="blog-module shadow">
                    <div class="blog-module-title">友情链接</div>
                    <ul class="blogroll">
                        <li><a target="_blank" href="https://github.com/JessonChan/cango" title="页签">cango</a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- 底部 -->
{{template "blog/foot.html" .}}
</body>
</html>